@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --font: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --dark: #3b3b3b;
  --light: #e5e5e5;
  --white: #fff;

  --primary-darkest: #2c296a;
  --primary-darker: #312e81;
  --primary-dark: #4338ca;
  --primary: #6366f1;
  --primary-light: #a5b4fc;
  --primary-lighter: #e0e7ff;

  --soft-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1),
    0 1px 2px -1px rgb(0, 0, 0, 0.1);
  --shadow: 0 4px 6px -1px rgb(0, 0, 0, 0.1),
    0 2px 4px -2px rgb(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: var(--font);
  font-weight: 500;
  color: var(--dark);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section {
  margin-top: 5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
}

section h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

/* Accordion styles */
.accordion-item {
  max-width: 30rem;
  background-color: var(--primary-darker);
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  box-shadow: var(--soft-shadow);
}

.accordion-item header {
  position: relative;
  color: var(--primary-lighter);
  padding: 1rem;
  cursor: pointer;
  transition: 125ms ease;
}

.accordion-item header:hover {
  background-color: var(--primary-darkest);
}

.accordion-item .accordion-item-body {
  color: var(--primary-light);
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 200ms ease;
  background-color: var(--primary-dark);
  opacity: 0;
  font-weight: 500;
}

.accordion-item h2,
.accordion-item p {
  margin: 0;
  line-height: 1;
}

.accordion-item h2 {
  font-weight: 600;
  font-size: 1.25rem;
}

.accordion-item.active header {
  box-shadow: var(--soft-shadow);
}

.accordion-item.active .accordion-item-body {
  padding: 1rem;
  opacity: 1;
}